#adiinnumbers-subsection{
	display: block;
	background-color: #3366FF;
}

.adi-number-box{
	display: inline-block;
	margin: 0;
	width:30%;	
	white-space: nowrap;
}

.adi-number-number{
	margin:0 auto;
	color: white;
	text-align: center;
}

.adi-number-text{
	color: white;
	text-align: center;
}

.adi-number-icon{
	border-radius: 100%;
	margin: 0 auto;
}

.adi-number-icon > *{
	width: 100%;
	height: 100%;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Responsive %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media (max-width: 767px){ 

	#adiinnumbers-subsection{
		height: 100px;
	}

	.adi-number-number{
		font-size:24px;
	}

	.adi-number-text{
		font-size:12px;
	}
}	

/* -----------------------------------------  Tablets en horizonal y escritorios normales ------------------------------------- */

@media (min-width: 768px) and (max-width: 992px) { 

	#adiinnumbers-subsection{
		height: 200px;
	}

	.adi-number-number{
		font-size:48px;
	}

	.adi-number-text{
		font-size:20px;
	}
}
 
/* ----------------------------------------- Móviles en horizontal o tablets en vertical --------------------------------------- */

@media (min-width: 991px) and (max-width: 1199px) { 

	#adiinnumbers-subsection{
		height: 250px;
	}

	.adi-number-number{
		font-size:60px;
	}

	.adi-number-text{
		font-size:24px;
	}
}
 
/* ----------------------------------------------------- Móviles en vertical --------------------------------------------------- */

@media (min-width: 1200px ){ 

	#adiinnumbers-subsection{
		height: 300px;
	}

	.adi-number-number{
		font-size:72px;
	}

	.adi-number-text{
		font-size:36px;
	}
 }

