#adi-from-inside {
	background-color: #eee;
	background-image: radial-gradient(30% 60% at 50% 50%,#fff,#eee);
	text-align: center;
}

#adi-from-inside h1 {
	color: #6388A8;
	margin-bottom: 10px;
	margin-top: 20px;
}

#ga-life {
	overflow:hidden;
	height: 280px;
	position: relative;
}

#ga-life img {
	background: #eee;
	background-image: radial-gradient(40% 80% at 50% 50%,#fff,#eee);
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

#ga-life-2, #ga-life-3 {
	display: none;
}

#ga-life-text {
	display: inline-block;
	width: 40%;
	color: #444;
	text-align: right;
	padding: 10px 20px 0 0;
}

#adi-from-inside .learnMore {
	position: relative;
	top: -10px;
	background: #6388A8 !important;
	color: #ddd !important;
}
	
	
#adi-from-inside .learnMore:hover {
	background: #799DBD !important;
	color: #eee !important;
}
	


/* -----------------------------------------  Responsive ------------------------------------- */

@media (max-width: 768px) { 
	
	#ga-life-text {
		display: block;
		width: 80%;
		text-align: center;
		margin: 10px auto;
	}
	
	#adi-from-inside .learnMore {
		position: static;
		}
		
	#adi-from-inside h1  {
		font-size: 30px;
	}
}