#adiinnumbers-company{
	display: block;
}

.adi-number-box{
	display: inline-block;
	margin: 0;
	width:33%;	
	white-space: nowrap;
	
}

.adi-number-number{
	letter-spacing:-.08em;
	margin:0 auto;
	text-align: center;
	color: #EEE;
}

.adi-number-text {
	text-align: center;
}

#adiinnumbers-company {
	background: #3FB7C4;
	background-image: radial-gradient(40% 80% at 50% 50%,#7DD2DB,#3FB7C4);
}

#offices-number{
	color: #C2DEC1;
}

#contribuitors-number{
	color: #C2DEC1;
}

#development-hours-number{
	color: #C2DEC1;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Responsive %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media (max-width: 767px){ 

	#adiinnumbers-company{
		height: 200px;
	}

	.adi-number-number{
		font-size:24px;
	}

	.adi-number-text{
		font-size:14px;
	}
}	

/* -----------------------------------------  Tablets en horizonal y escritorios normales ------------------------------------- */

@media (min-width: 768px) and (max-width: 992px) { 

	#adiinnumbers-company{
		height: 300px;
	}

	.adi-number-number{
		font-size:48px;
	}

	.adi-number-text{
		font-size:16px;
	}
}
 
/* ----------------------------------------- Móviles en horizontal o tablets en vertical --------------------------------------- */

@media (min-width: 991px) and (max-width: 1199px) { 

	#adiinnumbers-company{
		height: 250px;
	}

	.adi-number-number{
		font-size:60px;
	}

	.adi-number-text{
		font-size:18px;
	}
}
 
/* ----------------------------------------------------- Móviles en vertical --------------------------------------------------- */

@media (min-width: 1200px ){ 

	#adiinnumbers-company{
		height: 300px;
	}

	.adi-number-number{
		font-size:72px;
	}

	.adi-number-text{
		font-size:20px;
	}
 }

