#adi-from-inside {
    width: 100%;
    position: relative;
	margin-top: -150px;
}

#adi-from-inside h1 {
	color: #B75CD5;
	margin-bottom: 10px;
}

#adi-from-inside img {
	max-height: 100%;
}

#ga-life {
	overflow-x: auto;
	overflow-y: hidden;
	height: 300px;
}

#adi-from-inside #after, #adi-from-inside #before {
	display: block;
	bottom: 15px;
	height: 300px;
	width: 150px;
	position: absolute;
	transition: 0.5s;
	-moz-transition: 0.5s;
}

#adi-from-inside #after {
	background: linear-gradient(to left,#fff,rgba(0,0,0,0));
	right: 0;
}

#adi-from-inside #before {
	opacity: 0;
	left: 0;
	background: linear-gradient(to right,#fff,rgba(0,0,0,0));
}

/* -----------------------------------------  Tablets en horizonal y escritorios normales ------------------------------------- */

@media (min-width: 768px) and (max-width: 992px) { 

}
 
/* ----------------------------------------- Móviles en horizontal o tablets en vertical --------------------------------------- */

@media (min-width: 991px) and (max-width: 1199px) { 

	
}
 
/* ----------------------------------------------------- Móviles en vertical --------------------------------------------------- */

@media (min-width: 1200px ){ 

}
