#adiinnumbers-company{
	display: block;
}

.adi-number-box{
	display: inline-block;
	margin: 0;
	width:33%;	
	white-space: nowrap;
	
}

.adi-number-number{
	letter-spacing:-.08em;
	margin:0 auto;
	text-align: center;
	color: #E3D8A8;
}

.adi-number-text{
	text-align: center;
}

#offices-number{
	color: #CC6600;
}

#contribuitors-number{
	color: #9999FF;
}

#development-hours-number{
	color: #00CC66;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Responsive %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media (max-width: 767px){ 

	#adiinnumbers-company{
		height: 200px;
	}

	.adi-number-number{
		font-size:24px;
	}

	.adi-number-text{
		font-size:14px;
	}
}	

/* -----------------------------------------  Tablets en horizonal y escritorios normales ------------------------------------- */

@media (min-width: 768px) and (max-width: 992px) { 

	#adiinnumbers-company{
		height: 300px;
	}

	.adi-number-number{
		font-size:48px;
	}

	.adi-number-text{
		font-size:16px;
	}
}
 
/* ----------------------------------------- Móviles en horizontal o tablets en vertical --------------------------------------- */

@media (min-width: 991px) and (max-width: 1199px) { 

	#adiinnumbers-company{
		height: 250px;
	}

	.adi-number-number{
		font-size:60px;
	}

	.adi-number-text{
		font-size:18px;
	}
}
 
/* ----------------------------------------------------- Móviles en vertical --------------------------------------------------- */

@media (min-width: 1200px ){ 

	#adiinnumbers-company{
		height: 300px;
	}

	.adi-number-number{
		font-size:72px;
	}

	.adi-number-text{
		font-size:20px;
	}
 }

