#adi-from-inside {
	background-color: #BC8DC4;
	text-align: center;
}

#adi-from-inside h1 {
	color: #fff;
	margin-bottom: 10px;
	margin-top: 20px;
}

#ga-life {
	overflow:hidden;
	height: 280px;
	position: relative;
}

#ga-life img {
	background: #BC8DC4;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

#ga-life-2, #ga-life-3 {
	display: none;
}

#ga-life-text {
	display: inline-block;
	width: 40%;
	color: #eee;
	text-align: right;
	padding: 10px 20px 0 0;
}

#adi-from-inside .learnMore {
	position: relative;
	top: -10px;
}


/* -----------------------------------------  Responsive ------------------------------------- */

@media (max-width: 768px) { 
	
	#ga-life-text {
		display: block;
		width: 80%;
		text-align: center;
		margin: 10px auto;
	}
	
	#adi-from-inside .learnMore {
		position: static;
	}
	
}

/* -----------------------------------------  Tablets en horizonal y escritorios normales ------------------------------------- */

@media (min-width: 768px) and (max-width: 992px) { 
	
	
}
 
/* ----------------------------------------- Móviles en horizontal o tablets en vertical --------------------------------------- */

@media (min-width: 991px) and (max-width: 1199px) { 

	
}
 
/* ----------------------------------------------------- Móviles en vertical --------------------------------------------------- */

@media (min-width: 1200px ){ 

}
