

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Sections %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#development-methodology {
    position: relative;
    min-height: 280px;
    background: #77D11D;
	padding: 10px;
}

#development-methodology h1 {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
}

#development-methodology h2 {
	font-size: 20px;
	text-transform: uppercase;
}

#development-methodologies-content {
    background: #0B6FA1;
}

#development-methodologies {
    float: left;
    width: 40%;
	margin-left: 60%;
    margin-top: 80px;
	transition: 1s;
	-moz-transition: 1s;
}

#development-methodologies li {
    list-style: none;
    background: #333;
    text-transform: uppercase;
    padding: 2px 10px;
    width: 100%;
    margin-bottom: 2px;
    z-index: 0;
    color: #eee;
	transition: 0.5s;
	-moz-transition: 0.5s;
	cursor: pointer;
}

#development-methodologies li:hover {
	transition: 0.5s;
	-moz-transition: 0.5s;
	background: #111;
}

#development-methodologies li.selected {
	padding-left: 50px;
	margin-left: -40px;
	margin-bottom: 7px;
	box-shadow: -5px 5px #eee;
	cursor: default;
}

#development-methodologies-content {
    position: absolute;
    top: 0; 
    right: 0; 
    left: 45%;
    bottom: 0;
    padding: 60px 10px 10px;
}

#development-methodologies-content:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: -92px;
    bottom: 0;
    border-top: 300px transparent solid;
    border-right: 92px solid #0B6FA1;
}

.devmeth-text {
    display: none;
}


