 body { 
 	padding:0px; 
 	margin:0px; 
 	font-family: PT sans, verdana;
 }

 html,body{
 	height:100%;
 }

 h1, h2, h3 {
 	font-family: 'Slabo 27px', 'PT Sans', Verdana;
 }
 
 li {
	list-style: square;
 }

 ::-webkit-scrollbar {
width: 5px;
height: 5px;
}​

::-webkit-scrollbar-track-piece  {
background: #333;
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal{
background: #55A2AD;
}

.navbar-brand img {
	max-height: 270%;
	margin-top: -23%;
	display: inline-block !important;
}

#hiring {
	display: inline-block;
	background: #76B536;
	border-radius: 2px;
	color: #eee;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 9px;
	position: relative;
	padding: 5px;
	margin: 15px 5px;
	float: left;
}

#hiring:before {
	border-top: 5px transparent solid;
	border-bottom: 5px transparent solid;
	Border-right: 5px #76B536 solid;
	position: absolute;
	top: 5px;
	left: -5px;
	content: '';
	display: block;
}

#hiring:hover {
	text-decoration: none !important;
	background: #91C45E;
}

#hiring:hover:before {
	border-right-color: #91C45E;
}

/**/

@-moz-document url-prefix() {

	.navbar-brand img {
		margin-top: -10%;
	}

	#hiring {
		margin-left: -8%;
	}

}