 body { 
 	padding:0px; 
 	margin:0px; 
 }

 html,body{
 	height:100%;
 }

.adi-section{
	display: block;
	width: 100%;
	margin: 0px;
}

.adi-subsection{
	width: 100%;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Responsive %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media (max-width: 767px){ 

	h1{
		font-size:24px;
	}

	h3{
		font-size:12px;
	}
}	

/* -----------------------------------------  Tablets en horizonal y escritorios normales ------------------------------------- */
@media (min-width: 768px) and (max-width: 992px) { 

	h1{
		font-size:36px;
	}

	h3{
		font-size:24px;
	}
}
 
/* ----------------------------------------- Móviles en horizontal o tablets en vertical --------------------------------------- */
@media (min-width: 991px) and (max-width: 1199px) { 

	h1{
		font-size:48px; 
	}

	h3{
		font-size:36px;
	}
}
 
/* ----------------------------------------------------- Móviles en vertical --------------------------------------------------- */
@media (min-width: 1200px ){ 

	h1{
		font-size:60px;
	}

	h3{
		font-size:48px;
	}
 }

