
.navbar-default{
	margin-bottom: 0;
}

.footer{
	width: 100%;
	height: 60px;
	background: #0D0000;
	border-top: 1px solid #c9c9c9;
}

.adi-section{
	display: block;
	width: 100%;
	margin: 0px;
	padding-top: 10px;
}

.adi-section h1{
	margin: 0px;
}

.adi-subsection{
	width: 100%;
}


.adi-footer-content{
	margin:50px;
	background-color: #0D0000;
}

#footer-container{
	width: 100%;
	border-top: 2px solid #564D4D;
	background-color: #0D0000;
}

.adi-footer-sections{
	display: inline-block;
}

.adi-footer-foot{
	margin: 50px auto;
	display: block;
}

.adi-footer-section{
	display: inline-table;
	height: 100%;
	margin-right: 30px;
}

.adi-footer-section-title{
	color:#564D4D;
}

.adi-footer-section-link{
	margin-top:20px;
}

.adi-footer-section-link a{
	color:white;
}

.adi-footer-where-to-find-us-map{
	margin-top: 30px;
	height: 80px;
	width: 250px;
}

.adi-footer-where-to-find-us-map img{
	height: 100%;
	width: 100%;
}
