.navbar-inverse{
	margin-bottom: 0px;
	border-radius: 0px;
}

.nav.navbar-nav {
	text-transform: uppercase;
	font-size: 13px;
}

.nav.navbar-nav a[href="ga-university.html"]:first-letter {
	text-transform: lowercase;
}