#our-history-section {
	background-color: #83BEC9;
}

#our-history-section h1 {
	color: #fff;
	margin-top: 10px;
}

#our-history-section #timeline {
	border-top: 2px #fff dashed;
	border-bottom: 2px #fff dashed;
	height: 100px;
	width: 80%;
}

#our-history-section #timeline:before {
	border-top: 2px #fff dashed;
	border-right: 2px #fff dashed;
	height: 71px;
	transform: rotate(45deg);
	width: 71px;
	margin: 13px -39px 0 auto;
	displaY: block;
	content: '';
	float: right;
}

#timeline img {
	display: inline-block;
    width: 35%;
	margin-top: -125px;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Responsive %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media (max-width: 767px){ 

	#adiinnumbers-company{
		height: 200px;
	}

	.adi-number-number{
		font-size:24px;
	}

	.adi-number-text{
		font-size:14px;
	}
}	

/* -----------------------------------------  Tablets en horizonal y escritorios normales ------------------------------------- */

@media (min-width: 768px) and (max-width: 992px) { 

	#adiinnumbers-company{
		height: 250px;
	}

	.adi-number-number{
		font-size:48px;
	}

	.adi-number-text{
		font-size:16px;
	}
}
 
/* ----------------------------------------- Móviles en horizontal o tablets en vertical --------------------------------------- */

@media (min-width: 991px) and (max-width: 1199px) { 

	#adiinnumbers-company{
		height: 230px;
	}

	.adi-number-number{
		font-size:60px;
	}

	.adi-number-text{
		font-size:18px;
	}
}
 
/* ----------------------------------------------------- Móviles en vertical --------------------------------------------------- */

@media (min-width: 1200px ){ 

	#adiinnumbers-company{
		height: 250px;
	}

	.adi-number-number{
		font-size:72px;
	}

	.adi-number-text{
		font-size:20px;
	}
 }
