#stackofapplications-section{
	padding: 10px 0;
	background-color: white;
}

#stack-of-applications-apps{
	width: 80%;
	margin: 10px auto;
}

#stack-of-applications-tools{
	width: 80%;
	margin: 10px auto;
}

#stack-of-applications-services{
	width: 80%;
	margin: 10px auto;
}

#stack-of-applications-apps img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

#stack-of-applications-tools img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

#stack-of-applications-services img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}