/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#studios-section{
	display: block;
}

#studios{
	background-color: #001452;
	height: 45%;
	}

#content{
	background-color: #3083FF; 
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Responsive %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media (max-width: 767px){ 
	#studios{
		min-height: 200px;
	}

	#content{
	 	min-height: 350px;
	}

	.adi-studio-image,.adi-studio-text{
		display: block;
	}
}	

/* -----------------------------------------  Tablets en horizonal y escritorios normales ------------------------------------- */
@media (min-width: 768px) and (max-width: 992px) { 
	#studios{
		min-height: 385px;
	}

	#content{
	 	min-height: 459px;
	}
	
}
 
/* ----------------------------------------- Móviles en horizontal o tablets en vertical --------------------------------------- */
@media (min-width: 991px) and (max-width: 1199px) { 
	#studios{
		min-height: 385px;
	}

	#content{
	 	min-height: 459px;
	}
	
}
 
/* ----------------------------------------------------- Móviles en vertical --------------------------------------------------- */
@media (min-width: 1200px ){ 
	#studios{
		min-height: 385px;
	}

	#content{
	 	min-height: 459px;
	}
	
 }



/* ---------------------------------------------------- Title ------------------------------------------------------------------*/

.adi-section-title{
	display: block;
	color: white;
	text-align: center;
	color: white;
}

.adi-section-title h1{
	text-align: center;
	margin:0;
}

#studios-section h3{
	padding-top: 3vh;
	margin: 0;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Icons %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#icons{
	margin-top:4vh;
}

.adi-studiosbox-icons{
	position: relative;
	height: 15vh;
	width: 80%;
	margin: 0 auto;
}

.adi-studiosbox-box{
	height: 100%;
	min-height: 40px;
	min-width: 40px;
	display: inline-block;
}

.adi-studiosbox-box-active{
	width: 20%;
	height: 100%;
	min-height: 40px;
	min-width: 40px;
	display: inline-block;
	border-radius: 100%; 	
	border: 5px solid black;
}

.adi-studiosbox-box a img{
	width: 100%;
	height: 100%;
	max-height: 100%;
}

.adi-studiosbox-box-active a img{
	width: 100%;
	height: 100%;	
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Content %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.adi-studiosbox-content{
	width: 100%;
	height: 100%;
	margin:0;
}

.adi-studio-content{
	margin: 0;
	height: 50vh;
	text-align: center;
}

.adi-studio-text{
	width: 60%;
	display: inline-block;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Content Text Responsive %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media (max-width: 767px){ 
	.adi-studio-text h1{
		font-weight: bold;
		font-size: 16px;
	}
	.adi-studio-text p{
		font-size: 10px;
	}
}	

/* -----------------------------------------  Tablets en horizonal y escritorios normales ------------------------------------- */
@media (min-width: 768px) and (max-width: 992px) { 
	.adi-studio-text h1{
		font-weight: bold;
		font-size: 24px;
	}
	.adi-studio-text p{
		font-size: 12px;
	}
	
}
 
/* ----------------------------------------- Móviles en horizontal o tablets en vertical --------------------------------------- */
@media (min-width: 991px) and (max-width: 1199px) { 
	.adi-studio-text h1{
		font-weight: bold;
		font-size: 28px;
	}
	.adi-studio-text p{
		font-size: 14px;
	}
	
}
 
/* ----------------------------------------------------- Móviles en vertical --------------------------------------------------- */
@media (min-width: 1200px ){ 
	.adi-studio-text h1{
		font-weight: bold;
		font-size: 32px;
	}
	.adi-studio-text p{
		font-size: 16px;
	}
	
 }


.adi-studio-image{
	width: 30%;
	display: inline-block;
	min-height: 200px;
	min-width: 200px;
}

.adi-studio-image img{
	height:100%;
	width: 100%; 
}

#studio-content1{
	display: block;
}

#studio-content2{
	display: none;
}

#studio-content3{
	display: none;	
}

#studio-content4{
	display: none;
}
#studio-content5{
	display: none;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% End %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/