#studios-section{
	background-color: white;
}

#studios-section h1{
	text-align: center;
}
.adi-section-container{
	width: 100%;
}

.adi-studiosbox{
	width: 80%;
	height: 500px;
	margin: 60px auto 0px auto;
	display: block;
}

.adi-studiosbox-top{
	width: 100%;
	height: 120px;
	padding-left: 250px;
	padding-right: 250px;
}

.adi-studiosbox-middle{
	width: 100%;
	height: 120px;
}

.adi-studiosbox-bottom{
	width: 100%;
	height: 260px;	
}

.adi-studiosbox-box{
	width: 120px;
	height: 120px;
}

.adi-studiosbox-box a img{
	width: 100%;
	height: 100%;
}

.adi-spin{
	z-index: -1	;
	width:500px;
	height: 100%;
	background-color: red;
	margin:0px auto;
	border-radius: 500px 500px 0 0;
     -moz-border-radius: 500px 500px 0 0;
     -webkit-border-radius: 500px 500px 0 0;
}

#spin-content1,#spin-content2,#spin-content3,#spin-content4{
	text-align: center;
	line-height: 260px;
	display: block;
}

#spin-content2{
	display: none;
}

#spin-content3{
	display: none;	
}

#spin-content4{
	display: none;
}