#we-are-adi-section {
	background-color: #82BBED;
	background-image: url('images/company.png');
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	background-position: 50%;
	overflow: hidden;
	position: relative;
	margin-bottom: -10px;
}

#we-are-adi-section h1 {
	color: #fff;
	text-shadow: 0 0 10px #333;
	padding-top: 100px;
	margin-top: 0px;
	font-size: 100px;
}

#we-are-adi-section h2 {
	padding: 0px;
	color: #fff;
	text-shadow: 0 0 10px #333;
	margin: -50px 0 20px 0;
}

#we-are-adi-section #bgVideo {
display: none;
	margin: -20% -10px 0 -10px;
}

#we-are-adi-section img {
	width: 5%;
}

#we-are-adi-section #content {
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0; 
	background-image: url('images/dots.png');
	background-size: 3%;
}



/* -----------------------------------------  Tablets en horizonal y escritorios normales ------------------------------------- */

@media (max-width: 768px) { 

	#we-are-adi-section {
		height: 200px;
		background-size: 150%;
	}

	#we-are-adi-section h1 {
		padding-top: 30px;
		font-size: 20px;
	}
	
	#we-are-adi-section h2 {
		font-size: 15px;
	}
	
}


@media (min-width: 768px) and (max-width: 992px) { 

	#we-are-adi-section {
		height: 200px;
	}

	#we-are-adi-section h1 {
		padding-top: 30px;
	}
	
}
 
/* ----------------------------------------- Móviles en horizontal o tablets en vertical --------------------------------------- */

@media (min-width: 991px) and (max-width: 1199px) { 

	#we-are-adi-section {
		height: 300px;
	}
	
	#we-are-adi-section h1 {
		padding-top: 70px;
	}
}
 
/* ----------------------------------------------------- Móviles en vertical --------------------------------------------------- */

@media (min-width: 1200px ){ 

	#we-are-adi-section {
		height: 400px;
	}

 }